#hero {
  position: fixed;
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  .hero_name,
  .hero_welcome {
    font-size: 62px;
  }
  .hero_name_input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 36px;
    &::placeholder {
      color: #fff;
      text-align: center;
    }
    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }
  .hero_clock {
    font-size: 32px;
    position: fixed;
    bottom: 0;
  }
}
