#settings_window {
  z-index: 1;
  position: fixed;
  right: 0;
  width: 75%;
  height: 100vh;
  background-color: #333;
  opacity: 0.9;
  box-shadow: -3px 0px 15px -5px rgba(0, 0, 0, 0.75);
  flex-direction: column;
  justify-content: center;
  .settings_title {
    font-size: 42px;
  }
  .settings_option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .settings_option_name {
      font-size: 24px;
      margin-right: 20px;
    }
    .settings_option_action {
      width: 100px;
      height: 30px;
      outline: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: all ease-in-out 0.2s;
      &:hover {
        background-color: rgb(218, 77, 77);
        color: #fff;
      }
    }
  }
}
